{% extends "base.html" %}

{% block content %}
        <div class="col m-md-2 m-1">
            <h1>{{ fluent(key="welcome-to", lang=lang) }}</h1>

            {% if session_user != "" %}
                <a href="/{{ lang }}/conversion_request" class="btn btn-outline-primary">
                    <i class="bi bi-arrow-left"></i> Create Conversion Request
                </a>            
            {% endif %}

            <h2>Authority</h2>
            {% for authority in authorities %}
                <li><a href="/{{ lang }}/authority/{{ authority.id }}">{{ authority.name }}</a></li>
            {% endfor %}

            <hr>
            <h3>Search User by name: </h3>
                <input id="personSearchbar" class="form-control" type="text" placeholder="Enter name here" aria-label="Search Person">
                <button class="btn btn-dark" id="peopleSearch">Search</button>
        </div>
{% endblock content %}

{% block scripts %}
<script>
    document.getElementById("peopleSearch").addEventListener("click", peopleSearch);

    function peopleSearch() {  
        var result = document.getElementById("personSearchbar").value;  
        window.location.href = '/{{ lang }}/person_by_name/'+result;
    };

</script>


{% endblock scripts%}